*{
    color: #22333b;
}


#landingJumbotron{
    display: grid;
    place-items: center;
    justify-content: center;
    background-color: #b9fbc0;
    padding-top: 0;
    padding-bottom: 0;
}

#jumbo1 {
    font-family: "Oswald";
    font-size: 30px;
    color: #74c69d;
}

#jumbo2 {
    font-family: "Quattrocento";
    font-size: 20px;
    color: #95d5b2;
}

#randomiseButton{
    background-color: #b9fbc0;
}

.col{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.row{
    padding-bottom: 15px;
}

.hide{
    display: none;
}

#selectForm{
    background-color: #b9fbc0;
}

#headerRow{
    display: grid;
    align-items: center;
    justify-content: center;
}

/* .navbar{
    background-color: #e9edc9;
} */

#munchify_logo{
    height: 200px;
}

.card:hover{ 
    transform: scale(1.05);
}

#searchHeader, #randomHeader, #recipeHeader, #recipeInstHeader, #recipeIngredHeader {
    color: #b9fbc0;
    font-family: Raleway;
}

#recipeIngred, #recipeInst {
    font-family: Oswald;
}
